* {
  box-sizing: border-box;
}
.font{
    color: brown;
}
body {
  font-family: Arial;
  background: whitesmoke;
}

.header {
    display: flex;
  padding: 20px;
  text-align: center;
  background: rgb(236, 239, 137);
}
.header img{
    width: 150px;
height: 150px;}

.header h2 {
  font-size: 40px;
padding-left: 400px;
padding-top: 50px;
}


.topnav {
  overflow: hidden;
  background-color: rgb(253, 30, 30);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 800;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(112, 215, 38);
}
.active{
    background-color: blueviolet;
}
.leftcolumn {   
  float: left;
  width: 75%;
  padding-bottom: 70px;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-bottom: 70px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
        padding: 20px;
        text-align: center;
        background: rgb(121, 190, 179);
        margin-top:20px;
    } 

.column {
        float: left;
        width: 30%;
        padding: 10px;
        height: 220px;
    }

.footer ul {
        list-style-type: none;
}
.footer a{
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
.myDiv {
    border: 3px outset rgb(68, 0, 255);
    background-color: lightblue;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 120px;
    
  }
  .button1 {
    background-color: aquamarine;
    border: 1px solid #777;
    border-radius: 5px;
    font-family: 'Lucida Sans';
    font-size: 21px;
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin: auto;
    cursor: pointer;
}
#align{
  float: right;
}
.zoom:hover {
  transform: scale(0.9);
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  box-sizing: border-box;
}
span.psw {
  float: right;
  padding-top: 16px;
}
span.psm {
  float: left;
}